In [15]:
import pandas as pd

In [17]:
df = pd.read_excel("All teams - International.xlsx")
df

,date,home_team,away_team,results,tournament,home_score,away_score,score_diff
0,1916-07-08,Brazil,Chile,D,Copa AmÃ©rica,1,1,0
1,1916-07-12,Brazil,Uruguay,L,Copa AmÃ©rica,1,2,-1
2,1917-10-12,Brazil,Chile,W,Copa AmÃ©rica,5,0,5
3,1919-05-11,Brazil,Chile,W,Copa AmÃ©rica,6,0,6
4,1919-05-18,Brazil,Argentina,W,Copa AmÃ©rica,3,1,2
...,...,...,...,...,...,...,...,...
3837,2019-06-07,Faroe Islands,Spain,W,UEFA Euro qualification,1,4,3
3838,2019-09-05,Romania,Spain,W,UEFA Euro qualification,1,2,1
3839,2019-10-12,Norway,Spain,D,UEFA Euro qualification,1,1,0
3840,2019-10-15,Sweden,Spain,D,UEFA Euro qualification,1,1,0
3841,2020-09-03,Germany,Spain,D,UEFA Nations League,1,1,0

In [25]:
# split-apply-combine

# split
grouped = df.groupby("home_team")

#apply-combine
grouped.mean()

            home_score  away_score  score_diff
home_team
Albania       0.533333    1.800000    1.266667
Algeria       0.500000    1.750000    1.250000
Andorra       0.000000    2.666667    2.666667
Argentina     1.657143    1.085714   -0.571429
Armenia       0.750000    3.125000    2.375000
...                ...         ...         ...
Uruguay       1.333333    1.181818   -0.151515
Venezuela     0.272727    3.727273    3.454545
Wales         0.684211    1.421053    0.736842
Yugoslavia    1.741935    1.225806   -0.516129
Zimbabwe      0.000000    3.000000    3.000000

[102 rows x 3 columns]